<%= form_for(buy) do |f| %>
  <% if buy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buy.errors.count, "error") %> prohibited this buy from being saved:</h2>

      <ul>
      <% buy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_compra %>
    <%= f.date_select :fecha_compra %>
  </div>

  <div class="field">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= select("buy", "product_id", Product.all.collect {|p| [ p.name, p.id ] })%>
  </div>

  <div class="field">
    <%= f.label 'Clientes' %>
    <%=collection_check_boxes(:buy, :has_category_ids, @clients, :id, :name)%> 
    

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
