<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha compra:</strong>
  <%= @buy.fecha_compra %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @buy.cantidad %>
</p>

<p>
  <strong>User:</strong>
  <%= @buy.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @buy.product %>
</p>

<p>
  <strong>Client:</strong>
  
</p>

<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>
